﻿@{
    ViewBag.Title = "About PC Fake Gear";
}

<h2>About PC Fake Gear</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <p>
            Established in 2014, PC Fake Gear has been known to become one of Australia's most unpopular and lowly regarded computer stores.
        </p>
        <p>
            We are not specialised in providing fast and reliable courier delivery across Australia, while our non-existent buying power enables high prices across the range. 
        </p>
        <p>    
            We are also not committed to providing a premium customer service experience, and have been voted Australia's Worst Online PC Store two months running in the annual PC Authority Reliability and Service Awards. 
        </p>
        <p>
            This is also self-proclaimed. We're still wondering why the government hasn't shut us down yet.
        </p>
        <p><img src="~/Content/Images/pcfakegear.png" /></p>
    </div>
</div>

