﻿@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>PC Fake Gear</h3>

<address>
    1 Fradulent Street<br />
    Dogetown, VIC, 3000, Australia<br />
    <abbr title="Phone">P:</abbr>
    1-800-DOG-E
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@pcfakegear.com.au">support@pcfakegear.com.au</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@pcfakegear.com.au">sales@pcfakegear.com.au</a>
</address>

<img src="~/Content/Images/dogcontact.jpg" />