﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><img src="/Content/Images/logo_jumbo.png" alt="PC Fake Gear Logo"/></p>
    <p class="lead">PC Fake Gear is Australia's premier <em>fraudulant</em> online PC store.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why choose us?</h2>
        <p>
            PC Fake Gear is Australia's premier <em>fraudulant</em> online PC store, meaning we will never ever deliver great service that you would expect from other A+ stores. You probably shouldn't shop with us, but in the case that you do, just expect to have nothing but that disappointed feeling lingering over you.
        </p>
        <p><a class="btn btn-default" href="http://i.imgur.com/rYY0K8i.jpg">Very suspshush&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>No bang for your buck</h2>
        <p>Just let us take your money</p>
        <p><a class="btn btn-default" href="http://i.imgur.com/4n4khHf.jpg">Concern &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wat r u doing?</h2>
        <p>much fake</p>
        <p>such shady</p>
        <p>very fraud</p>
        <p>Concern</p>
        <p><a class="btn btn-default" href="http://i.imgur.com/opF6bC7.jpg">wow &raquo;</a></p>
    </div>
</div>