﻿@model PartB.Models.Product

@{
    ViewBag.Title = Model.Title + " Product Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>Product Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            <img src=@Url.Content(Model.ImageUrl) alt="Image" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            &#36;@Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("AddToCart", "Cart", new { id = Model.ProductID }))
{
    <p><strong>Qty:</strong> @Html.TextBox("qty", "", new { size = 1, @Value = 1 })</p>
    <p><input type="submit" value="Add To Cart" class="btn btn-add btn-bold" /></p>
}
@using (Html.BeginForm("Index", "Products"))
{
    <input type="submit" value="Back to List" class="btn btn-primary btn-bold" />
}

