﻿@model IEnumerable<PartB.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
    
@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <p>
        Category: @Html.DropDownList("productCategory", "All")
        &nbsp;Product Name: @Html.TextBox("searchString")
        <input type="submit" value="Filter" />
    </p>
}

@if (TempData["error"] != null) 
{ 
    <p class="text-danger">@TempData["error"]</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            <img src=@Url.Content(item.ImageUrl) alt="Image" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            &#36;@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @using (Html.BeginForm("AddToCart", "Cart", new { id = item.ProductID }))
            {
                <p><strong>Qty:</strong> @Html.TextBox("qty", "", new { size = 1, @Value = 1 })</p>
                <p><input type="submit" value="Add To Cart" class="btn btn-add btn-bold" /></p>
            }
            
            @using (Html.BeginForm("Details", "Products", new { id=item.ProductID }))
            {
                <input type="submit" value="View Details" class="btn btn-primary btn-bold"/>
            }
        </td>
    </tr>
}

</table>
