﻿@model PartB.Models.Order

@{
    ViewBag.Title = "Thank you for your purchase!";
}

<h2>@ViewBag.Title</h2>

<hr />
<p>@Html.Encode(Session["FirstName"]), your order has been successfully placed!</p>
<p>
   Below is a summary of your order. 
   If there are any questions, please feel free to send us an email at 
   <a href="mailto:support@pcfakegear.com.au">support@pcfakegear.com.au</a>.     
   <br/>
   Thank you again for choosing PC Fake Gear and we hope to see you again soon! 
</p>
<br/>
<h4>Ship To:</h4>
<p>
    @Html.DisplayFor(model => model.fullName)
    <br/>
    @Html.DisplayFor(model => model.streetAddress)
    <br/>
    @Html.DisplayFor(model => model.city), @Html.DisplayFor(model => model.state)
    @Html.DisplayFor(model => model.postcode) 
</p>
<br/>
<h4>Order Summary</h4>
<br/>
<table class="table">
    <tr>
        <td><strong>Order ID: </strong>@Html.DisplayFor(model => model.orderID)</td>
        <td>&nbsp;</td>
        <td><strong>Order Date: </strong>@Html.DisplayFor(model => model.orderDate)</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Subtotal</th>
    </tr>
    @{
        if (!Model.itemList.Any())
        {
            <tr>
                <td>Nothing in here.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.itemList)
            {
                <tr>
                    <td>@item.productName</td>
                    <td>@item.productQty</td>
                    <td>@string.Format("{0:C}", @item.productSubtotal)</td>
                </tr>
            }
        }
    }
    
    <tr>
        <td colspan="3"><strong>Total:</strong> @string.Format("{0:C}", @Model.totalPrice)</td>
    </tr>
</table>
@using (Html.BeginForm("Index", "Home"))
{
    <p><input type="submit" value="&laquo; Back to Homepage" class="btn btn-primary btn-bold" /></p>
}
