﻿@model PartB.Models.Order

@{
    ViewBag.Title = "Order Checkout";
}

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.payment.js"></script>
<script type="text/javascript">

    // Using jquery.payment.js plugin for Credit Card validation
    jQuery(function ($) {
        // Hide error messages
        $('#cc-number-error').hide();
        $('#cc-exp-error').hide();
        $('#cc-cvc-error').hide();

        // Format credit card fields
        $('.cc-number').payment('formatCardNumber');
        $('.cc-exp').payment('formatCardExpiry');
        $('.cc-cvc').payment('formatCardCVC');

        $('#btnConfirm').click(function (e) {
            var validcc = $.payment.validateCardNumber($('input.cc-number').val()),
                validexp = $.payment.validateCardExpiry($('input.cc-exp').payment('cardExpiryVal')),
                validcvc = $.payment.validateCardCVC($('input.cc-cvc').val());

            if (!validcc)
            {
                $('#cc-number-error').show();
                return false;
            }
            else {
                $('#cc-number-error').hide();
            }

            if (!validexp) {
                $('#cc-exp-error').show();
                return false;
            }
            else
            {
                $('#cc-exp-error').hide();
            }

            if (!validcvc) {
                $('#cc-cvc-error').show();
                return false;
            }
            else
            {
                $('#cc-cvc-error').hide();
            }

            if (validcc && validcvc && validexp)
            {
                return true;
            }
            
        });
    });
</script>
<h2>Order Checkout</h2>

@{
    List<SelectListItem> listOfStates = new List<SelectListItem>();

    listOfStates.Add(new SelectListItem { Text = "New South Wales", Value = "New South Wales" });
    listOfStates.Add(new SelectListItem { Text = "Queensland", Value = "Queensland" });
    listOfStates.Add(new SelectListItem { Text = "South Australia", Value = "South Australia" });
    listOfStates.Add(new SelectListItem { Text = "Tasmania", Value = "Tasmania" });
    listOfStates.Add(new SelectListItem { Text = "Victoria", Value = "Victoria" });
    listOfStates.Add(new SelectListItem { Text = "Western Australia", Value = "Western Australia" });
}

<div class="row">
    <div class="col-md-8">
        <h4>Please enter your shipping details and billing information.</h4>
        <hr />
        @using (@Html.BeginForm("OrderCheckout", "Checkout", FormMethod.Post, new { @class = "form-horizontal", id = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            <h4>Shipping Details</h4>

            <div class="form-group">
                @Html.LabelFor(model => model.fullName, "Full Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.fullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.streetAddress, "Street Address", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.streetAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.streetAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.city, "City", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.city, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.state, "State", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.state, listOfStates, "-- Select Your State --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.postcode, "Postcode", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.postcode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.postcode, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />

            <h4>Billing Information</h4>

            <div class="form-group">
                @Html.Label("Card Number", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("cc-number", "", new { @class = "form-control cc-number" }) 
                    <span id="cc-number-error" class="field-validation-error text-danger">Credit card number is not valid.</span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Expiry Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("cc-exp", "mm/yyyy", new { @class = "form-control cc-exp" })
                    <span id="cc-exp-error" class="field-validation-error text-danger">Expiry date is not in a valid format.</span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("CVC", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("cc-cvc", "", new { @class = "form-control cc-cvc" })
                    <span id="cc-cvc-error" class="field-validation-error text-danger">CVC is not in a valid format.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Confirm Order" class="btn btn-primary btn-bold" id="btnConfirm" />
                </div>
            </div>
        }       
    </div>
</div>

