﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(Images/congruent_outline.png);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom CSS override */
.navbar 
{
    background-image: url(Images/nav_bg.gif);
    background-repeat: repeat-x;
}

.navbar-inverse {
    background-color: #999;
    border-color: #999;
}

.navbar-brand {
    background-image: url(Images/logo_nav-off.png);
    background-repeat: no-repeat;
    width: 150px;
    text-indent: -9999px;
}

a.navbar-brand:hover {
    background-image: url(Images/logo_nav.gif);
    background-repeat: no-repeat;
    width: 150px;
}

.nav-text {
    color: #999;
    padding-top: 15px;
    padding-bottom: 15px;
}

.jumbotron {
    background-image: url(Images/jumbotron_bg.jpg);
}

.jumbotron h1, .lead {
    color: #ffffff;
}

.footer-map {
    background-color: #ff0000;
}

.btn-bold 
{
    font-weight: bold;
}

.btn-add {
  color: #ffffff;
  background-color: #00bb04;
  border-color: #00bb04;
}

.btn-add:hover,
.btn-add:focus,
.btn-add:active,
.btn-add.active,
.open .dropdown-toggle.btn-add {
  color: #ffffff;
  background-color: #019904;
  border-color: #019904;
}

.btn-remove {
  color: #ffffff;
  background-color: #db0000;
  border-color: #ad0000;
}

.btn-remove:hover,
.btn-remove:focus,
.btn-remove:active,
.btn-remove.active,
.open .dropdown-toggle.btn-remove {
  color: #ffffff;
  background-color: #ad0000;
  border-color: #ad0000;
}

.block-left {
    width: 50%;
    display: inline-block;
    float: left;
    margin-left: 0 auto;
    margin-left: 0 auto;
    padding: 8px; 
}

.block-right {
    width: 50%;
    display: inline-block;
    float: left;
    margin-left: 0 auto;
    margin-left: 0 auto;
    text-align: right;
    padding: 8px;    
}

.pagelist-div {
    padding: 8px;
}

.has-error input {
      border-width: 2px;
}

.table {
    table-layout: fixed;
}