﻿@model PartB.Models.Customer

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Login", "Customers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h4>Use a local account to log in.</h4>
            <hr />
            @Html.ValidationSummary(true, "Login failed. Please check your login details.", new { @class= "text-danger"});
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>           
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-primary btn-bold" />
                </div>
                <div class="clearfix"></div>
            </div>                        
        }
        <div>
            @Html.ActionLink("Don't have an account? Click here.", "Register", "Customers")
        </div>
    </div>
</div>