﻿@{
    ViewBag.Title = "Registration Successful!";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <h4>Thank you for registering an account with PC Fake Gear!</h4>
        <hr />
        <p> To begin shopping, please log into your new account <strong>@Html.ActionLink("here.", "Login", "Customers")</strong></p>
    </div>
</div>
        

        

