﻿@model PartB.Models.Customer

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Customers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h4>Enter your details to create a customer account.</h4>
            <hr/>
            
            if(TempData["error"] != null)
            {
                <p class="text-danger">@TempData["error"]</p>
            }
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, "First Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, "Last Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, "Date of Birth", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", @Value = "dd/mm/yyyy" })  
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Password", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">              
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register Account" class="btn btn-primary btn-bold" />
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("Already have an account? Click here.", "Login", "Customers")
            </div>
        </div>
    </div>
</div>