﻿@model PartB.Models.Cart
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Your Cart";
}

<h2>Your Cart</h2>

@{
    int pageNumber = ViewBag.PageNumber;
    int pageSize = ViewBag.PageSize;
    int totalProducts = ViewBag.TotalProducts;

    IPagedList<PartB.Models.CartItem> pagedList = new PagedList<PartB.Models.CartItem>(Model.cartItems, pageNumber, pageSize);
}

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
    </tr>

    @*If model.cartItems is empty*@
    @if (!pagedList.Any())
    {
        <tr>
            <td colspan="4">Your cart is empty.</td>
        </tr>
    }
    else
    {
        foreach (var item in pagedList)
        {
            <tr>
                <td>@item.product.Title</td>
                <td>@item.quantity</td>
                <td>@string.Format("{0:C}", @item.subtotal)</td>
                <td>
                    @using (@Html.BeginForm("RemoveFromCart", "Cart", new { id = @item.product.ProductID }))
                    {
                        <p><input type="submit" value="X Remove Item" class="btn btn-remove btn-bold" /></p>
                    }
                </td>
            </tr>
        }
    }   
    
    <tr>
        <td colspan="4"><strong>Total:</strong> @string.Format("{0:C}", @Model.total)</td>
    </tr>
</table>

<div class="pagelist-div">
    <p>
        Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
        @Html.PagedListPager(pagedList, page => Url.Action("Index", new { pageNumber = page }))
    </p>
</div>

<div class="block-left">
    @using (Html.BeginForm("Index", "Products"))
    {
        <input type="submit" value="&laquo; Continue Shopping" class="btn btn-primary btn-bold" />
    }
</div>
<div class="block-right">

    @*If cart has items, show checkout option*@
    @if (Model.cartItems.Any())
    {
        using (Html.BeginForm("Index", "Checkout"))
        {
            <input type="submit" value="Proceed to Checkout &raquo;" class="btn btn-primary btn-bold" />
        }        
    }
</div>

<div class="clearfix"></div>




